<div class="col-lg-4 col-lg-push-4">
  <h2>Register</h2>

  <div class="alert alert-success" *ngIf="submitted">
    Congrats, user registered!, please <a [routerLink]="['Session']">login</a> for use the TODO app
  </div>

  <span class="text-center text-default" [hidden]="submitted">
    Already have an account?, please <b><a [routerLink]="['Session']">login</a></b>
  </span>
  <hr/>

  <form class="form form responsive" [hidden]="submitted" (ngSubmit)="onSubmit()" #registrationForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" class="form-control" [(ngModel)]="newUser.name" required maxlength="30" ngControl="name" #name="ngForm">

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name required</div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" class="form-control" [(ngModel)]="newUser.email" required maxlength="30" ngControl="email" #email="ngForm">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Email required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="newUser.password" required maxlength="8" ngControl="password" #password="ngForm">

      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password Required</div>
    </div>

<!--     <div class="form-group">
      <label for="password_confirm">Confirm password</label>
      <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" class="form-control" [(ngModel)]="newUser.password_confirm" required maxlength="8" ngControl="password_confirm">
    </div> -->

    <input type="submit" value="Register" class="btn btn-primary btn-block" [disabled]="!registrationForm.form.valid">
  </form>



</div>