<div class="col-lg-4 col-lg-push-4 TodoApp">

  <div class="row">
    <input type="text" class="form-control" placeholder="Write a new todo and then press enter" [(ngModel)]="newTodo" (keyup.enter)="addTodo()"> <!-- /New todo -->

    <div class="list-group TodoList">

      <li class="list-group-item {{t.status}}" *ngFor="#t of
       todos | todoListPipe:filterStatus" id="{{t.id}}" (click)="toggleStatus(t)">

        <input [checked]="t.status == 'completed'" type="checkbox" class="pull-left">
        {{t.content}}

        <!-- <input (click)="removeTodo(t.id)" type="button" class="pull-right"> -->
      </li>

    </div> <!-- /Todo List -->


    <nav class="TodoFilters">
      <ul class="nav nav-pills nav-justified">
        <li  [class.active]="filterStatus == 'all'">
          <a (click)="toggleFilter('all')">All</a>
        </li>

        <li [class.active]="filterStatus == 'active'">
          <a (click)="toggleFilter('active')">Active</a>
        </li>

        <li [class.active]="filterStatus == 'completed'">
          <a (click)="toggleFilter('completed')">Completed</a>
        </li>
      </ul>
    </nav> <!-- /Todo filter -->
  </div>
</div>